p {
    color: red;
  }
html {
    background-color: black;
  }
  
li{
  color:white;
}
a{
  color:white;
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: white;
  text-shadow: 3px 3px 1px black;
}
img {
  display: block;
  margin: 0 auto;
}